.footer {
    padding: 40px 24px 120px;
    background-color: var(--nightblue-color);
}
.footerContent {
    padding-bottom: 48px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 240px;
        height: 1px;
        background-color: white;
        left: calc(50% - 120px);
        bottom: 0;
    }
}
